.navbar {
    width: 100vw;
    margin: 1em;
    font-size: 1.1em;
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-around !important;
    align-items: center !important;
}

.navbar .active {
    text-decoration: underline !important;
}