.navbar {
    z-index: 2147483647;
    width: 100vw;
    padding: 0.5em;
    padding-top: 1.5em;
    font-size: 1.1em;
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-around !important;
    align-items: center !important;
    background-color: #242424;
}

.navbar .active {
    text-decoration: underline !important;
}