.navbar {
    z-index: 2147483646;
    /* width: 100vw; */
    /* padding: 1rlh; */
    /* padding-top: 1.5em; */
    font-size: 1.2em;
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-around !important;
    align-items: center !important;
    /* background-color: var(--nav-background); */
}

.navbar .active {
    text-decoration: underline !important;
    font-weight: bold;
}

hr {
    margin: 0 0;
}

nav {
    display: fixed;
    top: 0;
    left: 0;
    position: sticky;
    z-index: 11;
    background-color: var(--nav-background);
}

.nav-link {
    margin: 0.6rlh;
}